<html>

  <head>
    <title>The Cheat Day Monster</title>
  </head>

  <body>

      <div>
        <h1><a href="/">Cheat Day Chronicles</a></h1>
      </div>

      <div>
        <h3><a href="">December 14, 2019 - Bring on the Krispy Kremes</a></h3>
        <ul><li><strong>12:00pm - Full dozen Krispy Kreme Donuts</strong></li>
          <li>1:00pm - Quart of Ice Cream</li>
        <p>Published on 1/2/20 at 9:00pm PT</p>
      </div>

      <div>
        <h3><a href="">January 1, 2020 - Start the Year off with a Sweet Bang</a></h3>
        <ul><li>9:00am - 3 Krispy Kreme Donuts</li><li>12:00pm - Nachos</li>
          <li>1:00pm - Yogurt Pretzels</li><li>2:00 pm - Dried Pineapple and Mango</li>
            <li>3:00pm - Mint Chip Ice Cream</li>
        <p>Published on 1/2/2020 at 9:30pm PT</p>
      </div>

  </body>
</html>
